html {
  font-family: Georgia, serif;
}

header {
  color: #fff;
}

.content-bkgd {
  background-color: #495562;
}

.btn-ghost {
  color: #fff;
  border-color: #97a49b;
}

.btn-ghost:hover {
  color: #495562;
  border-color: #fff;
}

@media only screen and (min-width: 45em) {

  .btn-pos {
    text-align: center;
  }

}

@media only screen and (min-width: 60em) {

  .banner {
    max-height: 500px;
    position: relative;
  }

  .btn-pos {
    text-align: center;
  }

  .btn-ghost {
    border-color: #fff;
    color: #efefef;
  }

  .content-bkgd {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(73, 85, 98, 0), rgba(73, 85, 98, .9));
    background-size: cover;
    width: 100%;
  }

}
